# add files to be ignored in repo update
# ignore all sensible text files in path

ssl-cert-renewal/*.txt
ddns-and-webserver/*.txt
.idea

*.txt

# Ignore everything in the Grav installation
grav/*

# EXCEPT the user folder
!grav/user/

# Still exclude sensitive/temp files inside the user folder
grav/user/accounts/
grav/user/config/security.yaml

# Ignore backups and large archives
grav.tar.gz

